* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial;
	background-color: #f3f3f3;
}

a {
	color: black;
	text-decoration: none;
	transition: .2s;
	cursor: pointer;
}

a:hover {
	color: blue;
}

img {
	max-width: 100%;
}

input {
	width: 100%;
	height: 40px;
	margin: 10px 0;
	font-size: 14pt;
	padding-left: 5px;
	font-family: Arial;
	border: solid 1px black;
}

.underline {
	text-decoration: underline;
}

div.content {
	min-width: 700px;
	max-width: 1100px;
	margin: 0 auto;
}

div.message {
	color: gray;
	margin: 10px 0;
	font-size: 18pt;
	min-height: 10px;
	text-align: center;
}

form p.error {
	color: red;
	padding: 0;
}

form p.center {
	text-align: center;
}

form.center {
	width: 600px;
	margin: 0 auto;
}

form div.part {
	display: flex;
}

form div.part input[type=text],
form div.part select {
	width: 69%;
}

form div.part input[type=button] {
	width: 30%;
	margin-left: 1%;
}

form fieldset {
	padding: 10px;
	margin: 0 auto;
	border-radius: 3px;
	border: solid 1px black;
	background-color: white;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

form fieldset legend {
	font-size: 18pt;
}

form input, form select, form textarea {
	width: 100%;
	height: 40px;
	margin: 10px 0;
	font-size: 14pt;
	padding-left: 5px;
	font-family: Arial;
	border: solid 1px black;
}

form input[type=button],
form input[type=submit] {
	border: none;
	color: white;
	cursor: pointer;
	transition: .2s;
	background-color: gray;
}

form input[type=button]:hover,
form input[type=submit]:hover {
	background-color: #333;
}

form input[type=file] {
	border: none;
}

form textarea {
	min-height: 100px;
	padding: 5px;
}

header {
	height: 70px;
	padding: 15px 0;
	background-color: white;
	border-bottom: solid 3px gray;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

header div.head {
	display: flex;
	justify-content: space-between;
}

header nav {
	height: 40px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

header nav a {
	padding: 0 5px;
}

main {
	min-height: calc(100vh - 200px);
}

main p {
	padding: 5px 0;
}

div.flex {
	display: flex;
	flex-wrap: wrap;
}

div.wrap {
	margin: 10px 0;
}

div.wrap, div.flex div.left, div.flex div.right {
	padding: 20px;
	border-radius: 5px;
	background-color: white;
	border: solid 1px rgba(0,0,0,0.3);
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

div.flex div.left {
	width: 69%;
}

div.flex div.right {
	width: 30%;
	margin-left: 1%;
}

div.flex nav {
	margin: 5px 0;
}

div.flex nav a {
	padding: 0 5px;
}

div.flex nav a:first-child {
	padding-left: 0px;
}

div.flex div.point,
div.wrap div.point {
	margin: 10px 0;
}

div.flex div.point h3,
div.wrap div.point h3 {
	margin-bottom: 5px;
}

div.flex div.structure {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	border-bottom: solid 1px black;
}

div.flex div.structure div.name {
	width: 70%;
}

div.flex div.structure div.action {
	width: 30%;
	text-align: right;
}

form#game_add div.genres {
	display: flex;
	flex-wrap: wrap;
}

form#game_add div.genres div.genre {
	color: white;
	cursor: pointer;
	transition: .2s;
	margin-right: 5px;
	padding: 5px 10px;
	margin-bottom: 5px;
	background-color: #666;
}

form#game_add div.genres div.genre:hover {
	background-color: #333;
}

div.games,
div.developers {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-around;
}

div.games div.game,
div.developers div.developer {
	width: 24%;
	padding: 10px;
	margin: 10px 0;
	border-radius: 3px;
	text-align: center;
	border: solid 1px rgba(0,0,0,0.5);
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

div.games div.game div.image {
	height: 280px;
}

div.games div.game div.image img {
	height: 100%;
	object-fit: cover;
	border-radius: 3px;
}

div.games div.game div.title {
	padding: 10px;
	text-align: center;
}

div.games div.game div.title h3 {
	margin: 0;
}

footer {
	height: 70px;
	padding: 15px 0;
	border-top: solid 3px gray;
	background-color: white;
	margin-top: 30px;
}